.slider{
    background: url('images/jp-company-rent-a-car-transfer-putnika-na-i-sa-aerodroma-jp-company-rent-a-car-2933-11491999722376.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider::after{
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.357);
}

.text{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--blue-hover);
    font-size: 45px;
    background: rgba(255, 255, 255, 0.309);
}