#footer{
    width: 100%;
    padding: 70px 0;
    background: #f2f2f2;
    position: relative;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;*/
}

.footer-left, .footer-right{
    flex-basis: 48%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}

.footer-row h1{
    margin: 10px 0;
    font-size: 30px;
}

.footer-row p{
    line-height: 35px;
    font-size: 20px;
}

.footer-img{
    max-width: 300px;
    opacity: 0.1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-links{
    text-align: center;
}

.social-links img{
    width: 40px;
    height: 30px;
    margin: 0 10px;
    border: 2px solid #009688;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.social-links img:hover{
    background: #009688;
    color: white;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 16px;
    color: #009688;
    margin-top: 20px;
}

#social-media {
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    color: #333;
}

#social-media:hover {
    color: #009688;
    transition: 0.25s ease-in;
}